@page
@model AccountRegistration

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>@ViewData["Title"]</h2>
            <br />
            <div class="card text-center">
                <div class="card-body">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <input asp-for="Registration.Username" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Registration.Username"></label>
                            <span asp-validation-for="Registration.Username" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-floating">
                            <input asp-for="Registration.Email" class="form-control" autocomplete="email" aria-required="true" />
                            <label asp-for="Registration.Email"></label>
                            <span asp-validation-for="Registration.Email" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-floating">
                            <input asp-for="Registration.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Registration.Password"></label>
                            <span asp-validation-for="Registration.Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-floating">
                            <input asp-for="Registration.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Registration.ConfirmPassword"></label>
                            <span asp-validation-for="Registration.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <br />
                        <div>
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-outline-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>